﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Result</h1>
    <p>
        Order with transactionID @ViewBag.TransactionID is @ViewBag.Result
    </p>
    <p>
        Verify Signature: @ViewBag.VerifySignature
    </p>
</div>