﻿@{
    ViewBag.Title = "Home Page";

    var root = System.Configuration.ConfigurationManager.AppSettings["url"];
    var stbCheckoutUrl = System.Configuration.ConfigurationManager.AppSettings["stbCheckoutUrl"];
}


<h3>Select Available Environments:</h3>

<div class="radio">
    <label><input id="UATOpt" type="radio" name="envUrl" value="uat">TEST</label>
</div>
<div class="radio">
    <label><input id="PRODOpt" type="radio" name="envUrl" value="prod">PRODUCTION</label>
</div>
<h4>or other:</h4>
<input name="stbCheckoutUrl" class="form-control" id="stbCheckoutUrl" type="text" value="@stbCheckoutUrl">

<h3>Select checkout service</h3>
<div class="tabbable-panel">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab_default_1" data-toggle="tab">
                    STB Checkout
                </a>
            </li>
            <li>
                <a href="#tab_default_2" data-toggle="tab">
                    Secure Pay
                </a>
            </li>
            <li>
                <a href="#tab_default_3" data-toggle="tab">
                    Verify Token
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
                <h5>type information and press Checkout button</h5>
                <form method="post" action="@stbCheckoutUrl" id="submitForm">
                    <table width="100%">
                        <colgroup><col width="30%" /><col width="100%" /></colgroup>

                        <tr>
                            <td><h4>Profile ID:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="ProfileID" placeholder="ProfileID" value="testMerchant" /></td>
                        </tr>

                        <tr>
                            <td><h4>AccessKey (AppID):</h4></td>
                            <td><input class="form-control input-lg" type="text" name="AccessKey" placeholder="AccessKey" value="universehasfallen" /></td>
                        </tr>

                        <tr>
                            <td><h4>Transaction ID:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="TransactionID" value="@Guid.NewGuid().ToString().Substring(0, 32)" /></td>
                        </tr>
                        <tr>
                            <td><h4>Transaction Time:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="TransactionDateTime" value='@DateTime.UtcNow.ToString("s")Z' /></td>
                        </tr>
                        <tr>
                            <td><h4>Language:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Language" value="vi" /></td>
                        </tr>
                        <tr>
                            <td><h4>Descrpition:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Description" value="abcd" /></td>
                        </tr>
                        <tr>
                            <td><h4>Amount:</h4></td>
                            <td><input class="form-control input-lg" type="number" name="TotalAmount" value="110000" /></td>
                        </tr>
                        <tr>
                            <td><h4>Currency:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Currency" value="VND" /></td>
                        </tr>
                        <tr>
                            <td><h4>First Name:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="FirstName" value="NGUYEN" /></td>
                        </tr>
                        <tr>
                            <td><h4>Last Name:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="LastName" value="VAN A" /></td>
                        </tr>
                        <tr>
                            <td><h4>Gender:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Gender" value="M" /></td>
                        </tr>
                        <tr>
                            <td><h4>Address:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Address" value="266 nam ky khoi nghia" /></td>
                        </tr>

                        <tr>
                            <td><h4>District:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="District" value="Quan 3" /></td>
                        </tr>
                        <tr>
                            <td><h4>City:</h4></td>
                            <td>
                                <input class="form-control input-lg" type="text" name="City" value="Ho Chi Minh" />
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Postal Code:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="PostalCode" value="700000" /></td>
                        </tr>
                        <tr>
                            <td><h4>Country:</h4></td>
                            <td>
                                <input class="form-control input-lg" type="text" name="Country" value="VN" />
                            </td>
                        </tr>
                        <tr>
                            <td><h4>Mobile:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Mobile" value="0938826364" /></td>
                        </tr>

                        <tr>
                            <td><h4>Email:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Email" value="khanhln26169@gmail.com" /></td>
                        </tr>
                        <tr>
                            <td><h4>CancelUrl</h4></td>
                            <td><input class="form-control input-lg" type="text" name="CancelUrl" value="@root" /></td>
                        </tr>
                        <tr>
                            <td><h4>ReturnUrl</h4></td>
                            <td><input class="form-control input-lg" type="text" name="ReturnUrl" value="@root/home/CheckoutResult" /></td>
                        </tr>

                        <tr class="hidden">
                            <td><h4>Signature</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Signature" value="" id="signature" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-primary btn-lg" id="submitBtn" name="btn_checkout">Checkout</button><br /></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tab-pane" id="tab_default_2">
                <h5>type information and press Pay button</h5>
                <form method="post" action="@stbCheckoutUrl/securepay" id="tokenForm">
                    <table width="100%">
                        <colgroup><col width="30%" /><col width="100%" /></colgroup>

                        <tr>
                            <td><h4>Profile ID:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="ProfileID" placeholder="ProfileID" value="testMerchant" /></td>
                        </tr>

                        <tr>
                            <td><h4>AccessKey (AppID):</h4></td>
                            <td><input class="form-control input-lg" type="text" name="AccessKey" placeholder="AccessKey" value="universehasfallen" /></td>
                        </tr>

                        <tr>
                            <td><h4>Transaction ID:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="TransactionID" value="@Guid.NewGuid().ToString().Substring(0, 32)" /></td>
                        </tr>
                        <tr>
                            <td><h4>Transaction Time:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="TransactionDateTime" value='@DateTime.UtcNow.ToString("s")Z' /></td>
                        </tr>
                        <tr>
                            <td><h4>Descrpition:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Description" value="abcd" /></td>
                        </tr>
                        <tr>
                            <td><h4>Amount:</h4></td>
                            <td><input class="form-control input-lg" type="number" name="TotalAmount" value="110000" /></td>
                        </tr>
                        <tr>
                            <td><h4>Currency:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Currency" value="VND" /></td>
                        </tr>
                        <tr>
                            <td><h4>Token</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Token" value="123456" /></td>
                        </tr>
                        <tr>
                            <td><h4>ReturnUrl</h4></td>
                            <td><input class="form-control input-lg" type="text" name="ReturnUrl" value="@root/home/CheckoutResult" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-primary btn-lg" id="payBtn" name="btn_checkout">Pay</button><br /></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tab-pane" id="tab_default_3">
                <h5>type information and press Verify button</h5>
                <form method="post" action="@stbCheckoutUrl/verifyToken" id="tokenVerifyForm">
                    <table width="100%">
                        <colgroup><col width="30%" /><col width="100%" /></colgroup>

                        <tr>
                            <td><h4>Profile ID:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="ProfileID" placeholder="ProfileID" value="testMerchant" /></td>
                        </tr>

                        <tr>
                            <td><h4>AccessKey (AppID):</h4></td>
                            <td><input class="form-control input-lg" type="text" name="AccessKey" placeholder="AccessKey" value="universehasfallen" /></td>
                        </tr>

                        <tr>
                            <td><h4>Transaction ID:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="TransactionID" value="@Guid.NewGuid().ToString().Substring(0, 32)" /></td>
                        </tr>
                        <tr>
                            <td><h4>Transaction Time:</h4></td>
                            <td><input class="form-control input-lg" type="text" name="TransactionDateTime" value='@DateTime.UtcNow.ToString("s")Z' /></td>
                        </tr>
                        <tr>
                            <td><h4>Token</h4></td>
                            <td><input class="form-control input-lg" type="text" name="Token" value="123456" /></td>
                        </tr>
                        <tr>
                            <td><h4>ReturnUrl</h4></td>
                            <td><input class="form-control input-lg" type="text" name="ReturnUrl" value="@root/home/CheckoutResult" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button class="btn btn-primary btn-lg" id="verifyBtn" name="btn_checkout">Verify</button><br /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="loader" id="loader">
    <div class="progress dedo-progress">
        <div class="progress-bar bg-success" role="progressbar" id="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <button type="button" class="btn btn-primary">
        Executed time: <span class="badge badge-light" id="time-result"></span>
        <span class="sr-only">in seconds</span>
    </button>
</div>
<div id="notificationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment Result</h4>
            </div>
            <div class="modal-body">
                <p id="result-text" class="result-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    (function ($) {
        $.fn.serializeObject = function () {

            var self = this,
                json = {},
                push_counters = {},
                patterns = {
                    "validate": /^[a-zA-Z][a-zA-Z0-9_]*(?:\[(?:\d*|[a-zA-Z0-9_]+)\])*$/,
                    "key": /[a-zA-Z0-9_]+|(?=\[\])/g,
                    "push": /^$/,
                    "fixed": /^\d+$/,
                    "named": /^[a-zA-Z0-9_]+$/
                };


            this.build = function (base, key, value) {
                base[key] = value;
                return base;
            };

            this.push_counter = function (key) {
                if (push_counters[key] === undefined) {
                    push_counters[key] = 0;
                }
                return push_counters[key]++;
            };

            $.each($(this).serializeArray(), function () {

                // skip invalid keys
                if (!patterns.validate.test(this.name)) {
                    return;
                }

                var k,
                    keys = this.name.match(patterns.key),
                    merge = this.value,
                    reverse_key = this.name;

                while ((k = keys.pop()) !== undefined) {

                    // adjust reverse_key
                    reverse_key = reverse_key.replace(new RegExp("\\[" + k + "\\]$"), '');

                    // push
                    if (k.match(patterns.push)) {
                        merge = self.build([], self.push_counter(reverse_key), merge);
                    }

                    // fixed
                    else if (k.match(patterns.fixed)) {
                        merge = self.build([], k, merge);
                    }

                    // named
                    else if (k.match(patterns.named)) {
                        merge = self.build({}, k, merge);
                    }
                }

                json = $.extend(true, json, merge);
            });

            return json;
        };
    })(jQuery);

    $(document).ready(function () {
        $('input[type=radio][name=envUrl]').change(function () {
            if (this.value == 'uat') {
                $('#stbCheckoutUrl').val("https://cardtest.sacombank.com.vn:9443/landingpage/stbCheckout");
            }
            else if (this.value == 'prod') {
                $('#stbCheckoutUrl').val("https://3dsecure.sacombank.com.vn/checkout/stbCheckout");
            }
        });

        var modal = $("#notificationModal");
        var resultText = $("#result-text");
        var content = "";
        var loader = $("#loader");
        var progressbar = $("#progressbar");
        var interval = null;
        var counter = null;
        var c = 1;
        var percent = 0;
        var done = false;
        var i = 0;

        // form checkout
        $("#submitBtn").on("click", function (e) {
            e.preventDefault();
            var data = $('#submitForm').serializeObject();
            startLoader(true);
            $.ajax({
                url: '@root/home/Signature',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (signature) {
                    $("#signature").val(signature);
                    $('#submitForm').attr("action", $('#stbCheckoutUrl').val());
                    $('#submitForm').submit();
                },
                error: function (xhr) {
                    startLoader(false);
                    console.log('Error: ' + xhr.statusText);
                },
                async: true,
                processData: false
            });
        });

        // token pay
        $("#payBtn").on("click", function (e) {
            e.preventDefault();
            var form = $('#tokenForm');
            var data = form.serializeObject();
            data['URL'] = form.attr("action");
            startLoader(true);
            $.ajax({
                url: '@root/home/securepay',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    startLoader(false);
                    content = "";
                    traverse(result, process);
                    displayResult(content);
                },
                error: function (xhr) {
                    startLoader(false);
                    console.log('Error: ' + xhr.statusText);
                },
                async: true,
                processData: false
            });
        });

        // verify token
        $("#verifyBtn").on("click", function (e) {
            e.preventDefault();
            var form = $('#tokenVerifyForm');
            var data = form.serializeObject();
            data['URL'] = form.attr("action");
            startLoader(true);

            $.ajax({
                url: '@root/home/verifytoken',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (signature) {
                    startLoader(false);
                    content = "";
                    traverse(result, process);
                    displayResult(content);
                },
                error: function (xhr) {
                    startLoader(false);
                    console.log('Error: ' + xhr.statusText);
                },
                async: true,
                processData: false
            });
        });

        function displayResult(content) {
            resultText.html(content);
            modal.modal('show');
        }

        function process(key, value) {
           content += key + " : " + value + "<br>";
        }

        function traverse(o, func) {
            for (var i in o) {
                func.apply(this, [i, o[i]]);
                if (o[i] !== null && typeof (o[i]) == "object") {
                    //going one step down in the object tree!!
                    traverse(o[i], func);
                }
            }
        }

        function startLoader(start) {
            if (start) {
                loader.addClass("active");
                percent = 10;
                i = 1;
                c = 1;
                done = false;
                counter = setInterval(() => {
                    $("#time-result").text(c);
                    c = c + 1;
                }, 1000);
                interval = setInterval(loading, 100);
            }
            else {
                done = true;
                i = 1;
                c = 1;
                clearInterval(interval);
                clearInterval(counter);
                loader.removeClass("active");
            }
        }

        function loading() {
            if (done) {
                percent = 100;
            } else {
                percent = percent + 10 / i;
                i = i + 1;
                if (percent > 99) {
                    percent = 99;
                }
            }
            var style = 'width:' + percent + '%';
            progressbar.attr('style', style);
        }

    });
</script>
